## 0. Load imports

In [13]:
## imports
import pandas as pd
import numpy as np


## print multiple things from same cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## 0. Load data

In [15]:
## load data on 2020 crimes in DC
df = dc_crim_2020 = pd.read_csv("https://opendata.arcgis.com/datasets/f516e0dd7b614b088ad781b0c4002331_2.csv")
dc_crim_2020.head()
dc_crim_2020.shape
dc_crim_2020.info()

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,...,BLOCK_GROUP,CENSUS_TRACT,VOTING_PRECINCT,LATITUDE,LONGITUDE,BID,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID
0,-77.044182,38.905654,11139598,2020/08/24 04:00:00+00,MIDNIGHT,OTHERS,HOMICIDE,1900 - 1999 BLOCK OF M STREET NW,396168.0,137533.0,...,010700 1,10700.0,Precinct 17,38.905646,-77.044180,GOLDEN TRIANGLE,2011/09/23 06:40:00+00,NaN,594430168,NaN
1,-77.023981,38.900345,5370,2020/01/17 02:39:05+00,EVENING,OTHERS,THEFT F/AUTO,800 - 899 BLOCK OF 9TH STREET NW,397920.0,136943.0,...,005802 5,5802.0,Precinct 129,38.900337,-77.023979,DOWNTOWN,2020/01/11 02:48:51+00,2020/01/17 02:48:54+00,594430173,NaN
2,-76.972651,38.857491,10251445,2020/09/11 04:00:00+00,MIDNIGHT,GUN,HOMICIDE,2300 - 2399 BLOCK OF AINGER PLACE SE,402374.0,132186.0,...,007502 1,7502.0,Precinct 134,38.857483,-76.972648,NaN,2010/09/02 04:00:00+00,2010/09/02 04:00:00+00,594430178,NaN
3,-76.972226,38.854086,10147537,2020/12/21 05:00:00+00,MIDNIGHT,OTHERS,HOMICIDE,2300 - 2499 BLOCK OF HARTFORD STREET SE,402411.0,131808.0,...,007408 2,7408.0,Precinct 115,38.854078,-76.972223,NaN,2010/10/10 02:00:00+00,NaN,594431372,NaN
4,-77.001753,38.821632,18048023,2020/10/21 04:00:00+00,MIDNIGHT,OTHERS,HOMICIDE,4600 - 4799 BLOCK OF SOUTH CAPITOL STREET,399848.0,128205.0,...,009811 1,9811.0,Precinct 125,38.821624,-77.001750,NaN,2018/03/26 08:40:06+00,2018/03/26 10:04:44+00,594431711,NaN

(27931, 25)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27931 entries, 0 to 27930
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   X                     27931 non-null  float64
 1   Y                     27931 non-null  float64
 2   CCN                   27931 non-null  int64
 3   REPORT_DAT            27931 non-null  object
 4   SHIFT                 27931 non-null  object
 5   METHOD                27931 non-null  object
 6   OFFENSE               27931 non-null  object
 7   BLOCK                 27931 non-null  object
 8   XBLOCK                27931 non-null  float64
 9   YBLOCK                27931 non-null  float64
 10  WARD                  27931 non-null  int64
 11  ANC                   27931 non-null  object
 12  DISTRICT              27902 non-null  float64
 13  PSA                   27896 non-null  float64
 14  NEIGHBORHOOD_CLUSTER  27931 non-null  object
 15  BLOCK_GROUP           27930 non-null  object
 16  CENSUS_TRACT          27930 non-null  float64
 17  VOTING_PRECINCT       27931 non-null  object
 18  LATITUDE              27931 non-null  float64
 19  LONGITUDE             27931 non-null  float64
 20  BID                   4658 non-null   object
 21  START_DATE            27931 non-null  object
 22  END_DATE              24850 non-null  object
 23  OBJECTID              27931 non-null  int64
 24  OCTO_RECORD_ID        0 non-null      float64
dtypes: float64(10), int64(3), object(12)
memory usage: 5.3+ MB

#### Warm-up: Ways to add 100 to column X

In [17]:
df.X + 100 #same as below

new_list = []
for x in df.X:
	new.list.append(x+100)
new_list

0        22.955818
1        22.976019
2        23.027349
3        23.027774
4        22.998247
           ...
27926    22.951183
27927    22.996471
27928    22.973471
27929    23.006236
27930    22.952276
Name: X, Length: 27931, dtype: float64

NameError: name 'new' is not defined

## 1. Aggregation

### Example of grouping by one variable and doing one aggregation 

**Task**: find and print the number of unique offense types (`OFFENSE`) by ward (`WARD`)

In [ ]:
unique_offenses = df.groupby("WARD").agg({"OFFENSE":"unique"}).reset_index()
unique_offenses.OFFENSE.apply(len)
unique_offenses

### Example of grouping by one variable and providing two summaries of the same variable

**Task**: previous showed number of offenses by ward but want to find out content of offenses in each ward; create an aggregation that summarizes both the number of unique offenses by ward and what those offenses are -- for instance, by pasting the unique offenses in that ward separated by the ";" (e.g., Theft; Burglary;...)

*Hint*: you can use the join command to paste together a list separated by some delimiter. 
    - The syntax, if we are using the comma delimiter, is: ", ".join(nameoflist)

In [ ]:
unique_offenses = df.groupby("WARD").agg({"OFFENSE":"unique"}).reset_index()
unique_offenses["TYPES"] = unique_offenses.OFFENSE.apply(lambda offenses: ",".join(offenses))
unique_offenses["COUNT"] =unique_offenses.OFFENSE.apply(len)
print(unique_offenses[["TYPES", "COUNT"]])
unique_offenses

#another way
offenses_summary = df.groupby('WARD').agg(
    unique_offense_count=('OFFENSE', 'nunique'),
    unique_offenses=('OFFENSE', lambda x: ", ".join(x.unique()))
).reset_index()
offenses_summary

### Example of grouping by two variables 

**Task**: group by ward (`WARD`) and police shift (`SHIFT`) and find the offense that is most common in that ward and shift

In [ ]:
unique_shift_offenses = df.groupby(["WARD", "SHIFT"]).agg(
    {"OFFENSE" : "max"})
unique_shift_offenses

#lambda function way
unique_shift_offenses = df.groupby(["WARD", "SHIFT"]).agg(
    {"OFFENSE" : lambda x: x.mode()})
unique_shift_offenses

## Summarizing over all rows or all columns (without grouping)

We can also use the `apply` function to summarize rows or columns efficiently

**Task**: find the mean lat and longitude in one line of code

In [ ]:
df[["X", "Y"]].apply(np.mean,axis=0)
df[["X", "Y"]].mean()

## 2. Creating new columns/transforming their type

### Simple filtering

`np.where` is in the numpy package (aliased as `np`) and operates similar to `ifelse` in R

But there is a built in pandas way to emulate this.

**Task**: create an indicator `is_theft` for any offense that contains the word "THEFT"
    
**Task**: create an indicator `is_theft_notmotor` for any offense that contains the word "THEFT" but does not contain the word "MOTOR"

In [54]:
df["is_theft"] = df.OFFENSE.str.contains("THEFT")
#have to call function for it to show up
df["is_theft"]
df

SyntaxError: unterminated string literal (detected at line 7) (2443644676.py, line 7)

In [88]:
np.where(df.OFFENSE.str.contains("THEFT"), True, False)

array([False,  True, False, ...,  True,  True,  True])

In [64]:
df["is_theft_not_motor"] = df.OFFENSE.str.contains("THEFT") & (df.OFFENSE != "MOTOR")
df["is_theft_not_motor"]
df

0        False
1         True
2        False
3        False
4        False
         ...
27926     True
27927     True
27928     True
27929     True
27930     True
Name: is_theft_not_motor, Length: 27931, dtype: bool

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,...,VOTING_PRECINCT,LATITUDE,LONGITUDE,BID,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID,is_theft,is_theft_not_motor
0,-77.044182,38.905654,11139598,2020/08/24 04:00:00+00,MIDNIGHT,OTHERS,HOMICIDE,1900 - 1999 BLOCK OF M STREET NW,396168.0,137533.0,...,Precinct 17,38.905646,-77.044180,GOLDEN TRIANGLE,2011/09/23 06:40:00+00,NaN,594430168,NaN,False,False
1,-77.023981,38.900345,5370,2020/01/17 02:39:05+00,EVENING,OTHERS,THEFT F/AUTO,800 - 899 BLOCK OF 9TH STREET NW,397920.0,136943.0,...,Precinct 129,38.900337,-77.023979,DOWNTOWN,2020/01/11 02:48:51+00,2020/01/17 02:48:54+00,594430173,NaN,True,True
2,-76.972651,38.857491,10251445,2020/09/11 04:00:00+00,MIDNIGHT,GUN,HOMICIDE,2300 - 2399 BLOCK OF AINGER PLACE SE,402374.0,132186.0,...,Precinct 134,38.857483,-76.972648,NaN,2010/09/02 04:00:00+00,2010/09/02 04:00:00+00,594430178,NaN,False,False
3,-76.972226,38.854086,10147537,2020/12/21 05:00:00+00,MIDNIGHT,OTHERS,HOMICIDE,2300 - 2499 BLOCK OF HARTFORD STREET SE,402411.0,131808.0,...,Precinct 115,38.854078,-76.972223,NaN,2010/10/10 02:00:00+00,NaN,594431372,NaN,False,False
4,-77.001753,38.821632,18048023,2020/10/21 04:00:00+00,MIDNIGHT,OTHERS,HOMICIDE,4600 - 4799 BLOCK OF SOUTH CAPITOL STREET,399848.0,128205.0,...,Precinct 125,38.821624,-77.001750,NaN,2018/03/26 08:40:06+00,2018/03/26 10:04:44+00,594431711,NaN,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27926,-77.048817,38.906841,20148477,2020/10/17 08:40:42+00,MIDNIGHT,OTHERS,THEFT F/AUTO,1250 - 1299 BLOCK OF 22ND STREET NW,395766.0,137665.0,...,Precinct 4,38.906833,-77.048815,NaN,2020/10/17 07:20:23+00,2020/10/17 07:45:02+00,594981003,NaN,True,True
27927,-77.003529,38.884673,20148604,2020/10/17 16:40:41+00,DAY,OTHERS,THEFT F/AUTO,400 - 431 BLOCK OF 2ND STREET SE,399694.0,135203.0,...,Precinct 130,38.884665,-77.003527,CAPITOL HILL,2020/10/16 23:00:10+00,2020/10/16 23:05:17+00,594981004,NaN,True,True
27928,-77.026529,38.900371,20149110,2020/10/18 18:27:42+00,DAY,OTHERS,THEFT/OTHER,1000 - 1099 BLOCK OF PALMER ALLEY NW,397699.0,136946.0,...,Precinct 129,38.900364,-77.026527,DOWNTOWN,2020/10/18 16:30:23+00,2020/10/18 16:33:34+00,594981005,NaN,True,True
27929,-76.993764,38.921589,20149864,2020/10/20 00:55:36+00,EVENING,OTHERS,MOTOR VEHICLE THEFT,2300 - 2499 BLOCK OF WASHINGTON PLACE NE,400541.0,139301.0,...,Precinct 72,38.921581,-76.993761,NaN,2020/10/20 00:23:09+00,2020/10/20 00:24:57+00,594981006,NaN,True,True
27930,-77.047724,38.909643,20150225,2020/10/21 00:33:40+00,EVENING,OTHERS,THEFT F/AUTO,2100 - 2199 BLOCK OF P STREET NW,395861.0,137976.0,...,Precinct 14,38.909635,-77.047722,DUPONT CIRCLE,2020/10/16 21:00:03+00,2020/10/17 11:08:52+00,594981007,NaN,True,True

### np.select

**Task**: create a new variable, `offense_summary`, where you:
        
- Recode theft offenses that use a gun or knife as the method (`METHOD`) as: violent theft
- Recode non-theft offenses that use a gun or knife as the method as: violent other
- Recode all other as non-violent

In [76]:
offense_types = ["VIOLENT_THEFT", "VIOLENT_OTHER"]
conditions = [
    (df.OFFENSE.str.contains("THEFT") & df.METHOD.isin(["GUN", "KNIFE"])),
    ((df.OFFENSE.str.contains("THEFT") != True) & df.METHOD.isin(["GUN", "KNIFE"]))
]

df["offense_summary"] = np.select(conditions, offense_types, default="NON_VIOLENT")
df["offense_summary"]
df

0          NON_VIOLENT
1          NON_VIOLENT
2        VIOLENT_OTHER
3          NON_VIOLENT
4          NON_VIOLENT
             ...
27926      NON_VIOLENT
27927      NON_VIOLENT
27928      NON_VIOLENT
27929      NON_VIOLENT
27930      NON_VIOLENT
Name: offense_summary, Length: 27931, dtype: object

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,...,LATITUDE,LONGITUDE,BID,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID,is_theft,is_theft_not_motor,offense_summary
0,-77.044182,38.905654,11139598,2020/08/24 04:00:00+00,MIDNIGHT,OTHERS,HOMICIDE,1900 - 1999 BLOCK OF M STREET NW,396168.0,137533.0,...,38.905646,-77.044180,GOLDEN TRIANGLE,2011/09/23 06:40:00+00,NaN,594430168,NaN,False,False,NON_VIOLENT
1,-77.023981,38.900345,5370,2020/01/17 02:39:05+00,EVENING,OTHERS,THEFT F/AUTO,800 - 899 BLOCK OF 9TH STREET NW,397920.0,136943.0,...,38.900337,-77.023979,DOWNTOWN,2020/01/11 02:48:51+00,2020/01/17 02:48:54+00,594430173,NaN,True,True,NON_VIOLENT
2,-76.972651,38.857491,10251445,2020/09/11 04:00:00+00,MIDNIGHT,GUN,HOMICIDE,2300 - 2399 BLOCK OF AINGER PLACE SE,402374.0,132186.0,...,38.857483,-76.972648,NaN,2010/09/02 04:00:00+00,2010/09/02 04:00:00+00,594430178,NaN,False,False,VIOLENT_OTHER
3,-76.972226,38.854086,10147537,2020/12/21 05:00:00+00,MIDNIGHT,OTHERS,HOMICIDE,2300 - 2499 BLOCK OF HARTFORD STREET SE,402411.0,131808.0,...,38.854078,-76.972223,NaN,2010/10/10 02:00:00+00,NaN,594431372,NaN,False,False,NON_VIOLENT
4,-77.001753,38.821632,18048023,2020/10/21 04:00:00+00,MIDNIGHT,OTHERS,HOMICIDE,4600 - 4799 BLOCK OF SOUTH CAPITOL STREET,399848.0,128205.0,...,38.821624,-77.001750,NaN,2018/03/26 08:40:06+00,2018/03/26 10:04:44+00,594431711,NaN,False,False,NON_VIOLENT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27926,-77.048817,38.906841,20148477,2020/10/17 08:40:42+00,MIDNIGHT,OTHERS,THEFT F/AUTO,1250 - 1299 BLOCK OF 22ND STREET NW,395766.0,137665.0,...,38.906833,-77.048815,NaN,2020/10/17 07:20:23+00,2020/10/17 07:45:02+00,594981003,NaN,True,True,NON_VIOLENT
27927,-77.003529,38.884673,20148604,2020/10/17 16:40:41+00,DAY,OTHERS,THEFT F/AUTO,400 - 431 BLOCK OF 2ND STREET SE,399694.0,135203.0,...,38.884665,-77.003527,CAPITOL HILL,2020/10/16 23:00:10+00,2020/10/16 23:05:17+00,594981004,NaN,True,True,NON_VIOLENT
27928,-77.026529,38.900371,20149110,2020/10/18 18:27:42+00,DAY,OTHERS,THEFT/OTHER,1000 - 1099 BLOCK OF PALMER ALLEY NW,397699.0,136946.0,...,38.900364,-77.026527,DOWNTOWN,2020/10/18 16:30:23+00,2020/10/18 16:33:34+00,594981005,NaN,True,True,NON_VIOLENT
27929,-76.993764,38.921589,20149864,2020/10/20 00:55:36+00,EVENING,OTHERS,MOTOR VEHICLE THEFT,2300 - 2499 BLOCK OF WASHINGTON PLACE NE,400541.0,139301.0,...,38.921581,-76.993761,NaN,2020/10/20 00:23:09+00,2020/10/20 00:24:57+00,594981006,NaN,True,True,NON_VIOLENT
27930,-77.047724,38.909643,20150225,2020/10/21 00:33:40+00,EVENING,OTHERS,THEFT F/AUTO,2100 - 2199 BLOCK OF P STREET NW,395861.0,137976.0,...,38.909635,-77.047722,DUPONT CIRCLE,2020/10/16 21:00:03+00,2020/10/17 11:08:52+00,594981007,NaN,True,True,NON_VIOLENT

### map.recode

**Task**: recode shifts that are MIDNIGHT or EVENING as "nighttime"; code other shift to daytime

In [84]:
shifts = ["MIDNIGHT", "EVENING", "DAY"]
period = ["nighttime", "nighttime", "daytime"]
conversion_dict = dict(zip(shifts, period))

df["time_of_day"] = df.SHIFT.map(conversion_dict)
df["time_of_day"]
df

0        nighttime
1        nighttime
2        nighttime
3        nighttime
4        nighttime
           ...
27926    nighttime
27927      daytime
27928      daytime
27929    nighttime
27930    nighttime
Name: time_of_day, Length: 27931, dtype: object

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,...,LONGITUDE,BID,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID,is_theft,is_theft_not_motor,offense_summary,time_of_day
0,-77.044182,38.905654,11139598,2020/08/24 04:00:00+00,MIDNIGHT,OTHERS,HOMICIDE,1900 - 1999 BLOCK OF M STREET NW,396168.0,137533.0,...,-77.044180,GOLDEN TRIANGLE,2011/09/23 06:40:00+00,NaN,594430168,NaN,False,False,NON_VIOLENT,nighttime
1,-77.023981,38.900345,5370,2020/01/17 02:39:05+00,EVENING,OTHERS,THEFT F/AUTO,800 - 899 BLOCK OF 9TH STREET NW,397920.0,136943.0,...,-77.023979,DOWNTOWN,2020/01/11 02:48:51+00,2020/01/17 02:48:54+00,594430173,NaN,True,True,NON_VIOLENT,nighttime
2,-76.972651,38.857491,10251445,2020/09/11 04:00:00+00,MIDNIGHT,GUN,HOMICIDE,2300 - 2399 BLOCK OF AINGER PLACE SE,402374.0,132186.0,...,-76.972648,NaN,2010/09/02 04:00:00+00,2010/09/02 04:00:00+00,594430178,NaN,False,False,VIOLENT_OTHER,nighttime
3,-76.972226,38.854086,10147537,2020/12/21 05:00:00+00,MIDNIGHT,OTHERS,HOMICIDE,2300 - 2499 BLOCK OF HARTFORD STREET SE,402411.0,131808.0,...,-76.972223,NaN,2010/10/10 02:00:00+00,NaN,594431372,NaN,False,False,NON_VIOLENT,nighttime
4,-77.001753,38.821632,18048023,2020/10/21 04:00:00+00,MIDNIGHT,OTHERS,HOMICIDE,4600 - 4799 BLOCK OF SOUTH CAPITOL STREET,399848.0,128205.0,...,-77.001750,NaN,2018/03/26 08:40:06+00,2018/03/26 10:04:44+00,594431711,NaN,False,False,NON_VIOLENT,nighttime
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27926,-77.048817,38.906841,20148477,2020/10/17 08:40:42+00,MIDNIGHT,OTHERS,THEFT F/AUTO,1250 - 1299 BLOCK OF 22ND STREET NW,395766.0,137665.0,...,-77.048815,NaN,2020/10/17 07:20:23+00,2020/10/17 07:45:02+00,594981003,NaN,True,True,NON_VIOLENT,nighttime
27927,-77.003529,38.884673,20148604,2020/10/17 16:40:41+00,DAY,OTHERS,THEFT F/AUTO,400 - 431 BLOCK OF 2ND STREET SE,399694.0,135203.0,...,-77.003527,CAPITOL HILL,2020/10/16 23:00:10+00,2020/10/16 23:05:17+00,594981004,NaN,True,True,NON_VIOLENT,daytime
27928,-77.026529,38.900371,20149110,2020/10/18 18:27:42+00,DAY,OTHERS,THEFT/OTHER,1000 - 1099 BLOCK OF PALMER ALLEY NW,397699.0,136946.0,...,-77.026527,DOWNTOWN,2020/10/18 16:30:23+00,2020/10/18 16:33:34+00,594981005,NaN,True,True,NON_VIOLENT,daytime
27929,-76.993764,38.921589,20149864,2020/10/20 00:55:36+00,EVENING,OTHERS,MOTOR VEHICLE THEFT,2300 - 2499 BLOCK OF WASHINGTON PLACE NE,400541.0,139301.0,...,-76.993761,NaN,2020/10/20 00:23:09+00,2020/10/20 00:24:57+00,594981006,NaN,True,True,NON_VIOLENT,nighttime
27930,-77.047724,38.909643,20150225,2020/10/21 00:33:40+00,EVENING,OTHERS,THEFT F/AUTO,2100 - 2199 BLOCK OF P STREET NW,395861.0,137976.0,...,-77.047722,DUPONT CIRCLE,2020/10/16 21:00:03+00,2020/10/17 11:08:52+00,594981007,NaN,True,True,NON_VIOLENT,nighttime

### Using built-in pandas methods

Another way of creating variables, used either alone or in combination with np.where and np.select is to use pandas built in `str` methods

Basic structure is: `df['namestringcol'].str.someoperation`

**Task**: using a `str` method, create a new variable--`OFFENSE_NOSP`--that replaces spaces in the `OFFENSE` column with underscores

In [96]:
df["OFFENSE_NOSP"] = df["OFFENSE"].str.replace(" ", "_")
df[["OFFENSE", "OFFENSE_NOSP"]]

                   OFFENSE         OFFENSE_NOSP
0                 HOMICIDE             HOMICIDE
1             THEFT F/AUTO         THEFT_F/AUTO
2                 HOMICIDE             HOMICIDE
3                 HOMICIDE             HOMICIDE
4                 HOMICIDE             HOMICIDE
...                    ...                  ...
27926         THEFT F/AUTO         THEFT_F/AUTO
27927         THEFT F/AUTO         THEFT_F/AUTO
27928          THEFT/OTHER          THEFT/OTHER
27929  MOTOR VEHICLE THEFT  MOTOR_VEHICLE_THEFT
27930         THEFT F/AUTO         THEFT_F/AUTO

[27931 rows x 2 columns]

### Transforming column types

**Task**: check the type of the `START_DATE` column

In [113]:
print(df.START_DATE.dtype)
#another way
df.START_DATE.dtype
df.START_DATE.iloc[0] #retrieving first value in column

object

dtype('O')

'2011/09/23 06:40:00+00'

**Task**: recast the `START_DATE` column to datetime, calling this `START_DATE_CLEAN`; coerce errors rather than cleaning the string; check the type of that new col

In [155]:
df["START_DATE_CLEAN"] = pd.to_datetime(df.START_DATE, errors="coerce")
df.START_DATE_CLEAN

0       2011-09-23 06:40:00+00:00
1       2020-01-11 02:48:51+00:00
2       2010-09-02 04:00:00+00:00
3       2010-10-10 02:00:00+00:00
4       2018-03-26 08:40:06+00:00
                   ...
27926   2020-10-17 07:20:23+00:00
27927   2020-10-16 23:00:10+00:00
27928   2020-10-18 16:30:23+00:00
27929   2020-10-20 00:23:09+00:00
27930   2020-10-16 21:00:03+00:00
Name: START_DATE, Length: 27931, dtype: datetime64[ns, UTC]

**Task:** print the min and max of `START_DATE_CLEAN`. What happens if you try to do this with `START_DATE`?

In [121]:
df.START_DATE_CLEAN.min(), df.START_DATE_CLEAN.max()
df.START_DATE.min(), df.START_DATE.max()

#remember if the formats are not the same, we will run into errors -> i.e. 2024/09/24 versus 2024/9/24

(Timestamp('1940-02-17 00:00:16+0000', tz='UTC'),
 Timestamp('2021-01-01 02:30:21+0000', tz='UTC'))

('1940/02/17 00:00:16+00', '2021/01/01 02:30:21+00')

## 3. Row and column filtering

### Row subsetting

**Task**: filter to crime reports about theft using the `is_theft` definition and that are in ward 3

In [135]:
df[(df.OFFENSE.str.contains("THEFT")) & (df.WARD == 3)]
df[(df.is_theft) & (df.WARD == 3)] #is_theft condition is set to true by default

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,...,BID,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID,is_theft,is_theft_not_motor,offense_summary,time_of_day,OFFENSE_NOSP
8,-77.078395,38.932427,20001484,2020/01/03 15:28:51+00,DAY,OTHERS,THEFT F/AUTO,3900 - 4099 BLOCK OF MASSACHUSETTS AVENUE NW,393203.00,140507.00,...,NaN,2020/01/02 23:33:38+00,2020/01/03 14:20:15+00,594453346,NaN,True,True,NON_VIOLENT,daytime,THEFT_F/AUTO
12,-77.063920,38.944876,20002785,2020/01/05 20:01:58+00,EVENING,OTHERS,THEFT/OTHER,4200 - 4399 BLOCK OF CONNECTICUT AVENUE NW,394459.00,141888.00,...,NaN,2020/01/05 19:40:52+00,2020/01/05 19:42:06+00,594453350,NaN,True,True,NON_VIOLENT,nighttime,THEFT/OTHER
13,-77.070772,38.956628,20003356,2020/01/07 01:11:27+00,EVENING,OTHERS,THEFT/OTHER,5100 - 5199 BLOCK OF CONNECTICUT AVENUE NW,393866.00,143193.00,...,NaN,2020/01/06 20:28:26+00,2020/01/06 21:21:36+00,594453351,NaN,True,True,NON_VIOLENT,nighttime,THEFT/OTHER
22,-77.085302,38.959915,20031068,2020/02/20 22:19:38+00,EVENING,OTHERS,THEFT/OTHER,5300 - 5399 BLOCK OF WISCONSIN AVENUE NW,392607.00,143559.00,...,NaN,2020/02/20 21:05:43+00,2020/02/20 22:20:01+00,594453360,NaN,True,True,NON_VIOLENT,nighttime,THEFT/OTHER
39,-77.077697,38.937382,20111761,2020/08/05 18:08:56+00,DAY,OTHERS,THEFT F/AUTO,3600 - 3699 BLOCK OF 39TH STREET NW,393264.00,141057.00,...,NaN,2020/08/05 17:21:04+00,NaN,594453445,NaN,True,True,NON_VIOLENT,daytime,THEFT_F/AUTO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27801,-77.070891,38.936810,20050233,2020/03/25 10:24:37+00,MIDNIGHT,OTHERS,THEFT/OTHER,3500 - 3599 BLOCK OF 36TH STREET NW,393854.00,140993.00,...,NaN,2020/03/24 15:56:42+00,2020/03/24 16:00:06+00,594980534,NaN,True,True,NON_VIOLENT,nighttime,THEFT/OTHER
27828,-77.058884,38.936195,20025378,2020/02/11 15:28:00+00,DAY,OTHERS,THEFT/OTHER,3500 - 3599 BLOCK OF CONNECTICUT AVENUE NW,394895.00,140924.00,...,NaN,2020/02/10 20:30:07+00,2020/02/11 02:30:26+00,594980726,NaN,True,True,NON_VIOLENT,daytime,THEFT/OTHER
27907,-77.057640,38.924692,20153221,2020/10/26 13:15:04+00,DAY,OTHERS,THEFT/OTHER,2700 - 2799 BLOCK OF 29TH STREET NW,395002.00,139647.00,...,NaN,2020/10/24 17:00:36+00,2020/10/25 16:00:46+00,594980943,NaN,True,True,NON_VIOLENT,daytime,THEFT/OTHER
27909,-77.063920,38.944876,20113247,2020/08/08 20:33:10+00,EVENING,OTHERS,THEFT/OTHER,4200 - 4399 BLOCK OF CONNECTICUT AVENUE NW,394459.00,141888.00,...,NaN,2020/08/07 17:06:06+00,2020/08/07 17:16:08+00,594980968,NaN,True,True,NON_VIOLENT,nighttime,THEFT/OTHER
27914,-77.058083,38.934832,20117502,2020/08/17 15:41:41+00,DAY,OTHERS,THEFT/OTHER,3319 - 3499 BLOCK OF CONNECTICUT AVENUE NW,394964.33,140772.69,...,NaN,2020/08/17 15:16:33+00,2020/08/17 15:20:54+00,594980973,NaN,True,True,NON_VIOLENT,daytime,THEFT/OTHER

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,...,BID,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID,is_theft,is_theft_not_motor,offense_summary,time_of_day,OFFENSE_NOSP
8,-77.078395,38.932427,20001484,2020/01/03 15:28:51+00,DAY,OTHERS,THEFT F/AUTO,3900 - 4099 BLOCK OF MASSACHUSETTS AVENUE NW,393203.00,140507.00,...,NaN,2020/01/02 23:33:38+00,2020/01/03 14:20:15+00,594453346,NaN,True,True,NON_VIOLENT,daytime,THEFT_F/AUTO
12,-77.063920,38.944876,20002785,2020/01/05 20:01:58+00,EVENING,OTHERS,THEFT/OTHER,4200 - 4399 BLOCK OF CONNECTICUT AVENUE NW,394459.00,141888.00,...,NaN,2020/01/05 19:40:52+00,2020/01/05 19:42:06+00,594453350,NaN,True,True,NON_VIOLENT,nighttime,THEFT/OTHER
13,-77.070772,38.956628,20003356,2020/01/07 01:11:27+00,EVENING,OTHERS,THEFT/OTHER,5100 - 5199 BLOCK OF CONNECTICUT AVENUE NW,393866.00,143193.00,...,NaN,2020/01/06 20:28:26+00,2020/01/06 21:21:36+00,594453351,NaN,True,True,NON_VIOLENT,nighttime,THEFT/OTHER
22,-77.085302,38.959915,20031068,2020/02/20 22:19:38+00,EVENING,OTHERS,THEFT/OTHER,5300 - 5399 BLOCK OF WISCONSIN AVENUE NW,392607.00,143559.00,...,NaN,2020/02/20 21:05:43+00,2020/02/20 22:20:01+00,594453360,NaN,True,True,NON_VIOLENT,nighttime,THEFT/OTHER
39,-77.077697,38.937382,20111761,2020/08/05 18:08:56+00,DAY,OTHERS,THEFT F/AUTO,3600 - 3699 BLOCK OF 39TH STREET NW,393264.00,141057.00,...,NaN,2020/08/05 17:21:04+00,NaN,594453445,NaN,True,True,NON_VIOLENT,daytime,THEFT_F/AUTO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27801,-77.070891,38.936810,20050233,2020/03/25 10:24:37+00,MIDNIGHT,OTHERS,THEFT/OTHER,3500 - 3599 BLOCK OF 36TH STREET NW,393854.00,140993.00,...,NaN,2020/03/24 15:56:42+00,2020/03/24 16:00:06+00,594980534,NaN,True,True,NON_VIOLENT,nighttime,THEFT/OTHER
27828,-77.058884,38.936195,20025378,2020/02/11 15:28:00+00,DAY,OTHERS,THEFT/OTHER,3500 - 3599 BLOCK OF CONNECTICUT AVENUE NW,394895.00,140924.00,...,NaN,2020/02/10 20:30:07+00,2020/02/11 02:30:26+00,594980726,NaN,True,True,NON_VIOLENT,daytime,THEFT/OTHER
27907,-77.057640,38.924692,20153221,2020/10/26 13:15:04+00,DAY,OTHERS,THEFT/OTHER,2700 - 2799 BLOCK OF 29TH STREET NW,395002.00,139647.00,...,NaN,2020/10/24 17:00:36+00,2020/10/25 16:00:46+00,594980943,NaN,True,True,NON_VIOLENT,daytime,THEFT/OTHER
27909,-77.063920,38.944876,20113247,2020/08/08 20:33:10+00,EVENING,OTHERS,THEFT/OTHER,4200 - 4399 BLOCK OF CONNECTICUT AVENUE NW,394459.00,141888.00,...,NaN,2020/08/07 17:06:06+00,2020/08/07 17:16:08+00,594980968,NaN,True,True,NON_VIOLENT,nighttime,THEFT/OTHER
27914,-77.058083,38.934832,20117502,2020/08/17 15:41:41+00,DAY,OTHERS,THEFT/OTHER,3319 - 3499 BLOCK OF CONNECTICUT AVENUE NW,394964.33,140772.69,...,NaN,2020/08/17 15:16:33+00,2020/08/17 15:20:54+00,594980973,NaN,True,True,NON_VIOLENT,daytime,THEFT/OTHER

### Column subsetting

**Task**: select two columns--`START_DATE` and `END_DATE`--and print the head of the dataframe

In [139]:
print(df[["START_DATE", "END_DATE"]].head())
df[["START_DATE", "END_DATE"]].head()

               START_DATE                END_DATE
0  2011/09/23 06:40:00+00                     NaN
1  2020/01/11 02:48:51+00  2020/01/17 02:48:54+00
2  2010/09/02 04:00:00+00  2010/09/02 04:00:00+00
3  2010/10/10 02:00:00+00                     NaN
4  2018/03/26 08:40:06+00  2018/03/26 10:04:44+00

               START_DATE                END_DATE
0  2011/09/23 06:40:00+00                     NaN
1  2020/01/11 02:48:51+00  2020/01/17 02:48:54+00
2  2010/09/02 04:00:00+00  2010/09/02 04:00:00+00
3  2010/10/10 02:00:00+00                     NaN
4  2018/03/26 08:40:06+00  2018/03/26 10:04:44+00

**Task**: use list comprehension to automate this a bit and select all columns with the word "DATE" in the name; print the head of the dataframe

In [157]:
[c for c in df.columns if "DATE" in c] #c stands for columns
df[[c for c in df.columns if "DATE" in c]].head()

['START_DATE', 'END_DATE', 'START_DATE_CLEAN']

               START_DATE                END_DATE          START_DATE_CLEAN
0  2011/09/23 06:40:00+00                     NaN 2011-09-23 06:40:00+00:00
1  2020/01/11 02:48:51+00  2020/01/17 02:48:54+00 2020-01-11 02:48:51+00:00
2  2010/09/02 04:00:00+00  2010/09/02 04:00:00+00 2010-09-02 04:00:00+00:00
3  2010/10/10 02:00:00+00                     NaN 2010-10-10 02:00:00+00:00
4  2018/03/26 08:40:06+00  2018/03/26 10:04:44+00 2018-03-26 08:40:06+00:00

**Task**: filter reports of crime in `START_DATE_CLEAN` before May 2020 and that are located in ward 1; select the ward and `START_DATE` column and print a random sample of rows

In [159]:
(df.START_DATE_CLEAN < "05-01-2020") & (df.WARD == 1)
(df.START_DATE_CLEAN < "05-01-2020") & (df.WARD == 1).shape #shows how big it is
df[(df.START_DATE_CLEAN < "05-01-2020") & (df.WARD == 1)][["WARD", "START_DATE"]]

0        False
1        False
2        False
3        False
4        False
         ...
27926    False
27927    False
27928    False
27929    False
27930    False
Length: 27931, dtype: bool

/var/folders/_w/vmvbbhr54d52vbpfljqmjp940000gn/T/ipykernel_65225/436687859.py:2: FutureWarning: Logical ops (and, or, xor) between Pandas objects and dtype-less sequences (e.g. list, tuple) are deprecated and will raise in a future version. Wrap the object in a Series, Index, or np.array before operating instead.
  (df.START_DATE_CLEAN < "05-01-2020") & (df.WARD == 1).shape #shows how big it is

0         True
1         True
2         True
3         True
4         True
         ...
27926    False
27927    False
27928    False
27929    False
27930    False
Name: START_DATE, Length: 27931, dtype: bool

       WARD              START_DATE
9         1  2020/01/03 04:20:19+00
16        1  2020/01/08 20:44:58+00
25        1  2020/02/21 17:15:39+00
60        1  2020/01/28 15:23:51+00
80        1  2020/02/18 23:09:54+00
...     ...                     ...
27322     1  2020/04/04 22:59:12+00
27325     1  2020/01/23 03:00:17+00
27716     1  2020/03/29 20:30:00+00
27733     1  2020/03/14 03:00:08+00
27746     1  2020/03/08 02:50:50+00

[1148 rows x 2 columns]